[core]
    autocrlf = false

smart-energy-system/.idea
smart-energy-system/.gradle

smart-energy-system/frontend/.gradle
smart-energy-system/frontend/.idea
smart-energy-system/frontend/build
smart-energy-system/frontend/src/main/resources/.DS_Store
smart-energy-system/frontend/src/main/resources/node_modules/
smart-energy-system/frontend/src/main/resources/public/
smart-energy-system/frontend/src/main/resources/npm-debug.log*
smart-energy-system/frontend/src/main/resources/yarn-debug.log*
smart-energy-system/frontend/src/main/resources/yarn-error.log*
smart-energy-system/frontend/src/main/resources/test/unit/coverage/

smart-energy-system/energyusageservice/.gradle
smart-energy-system/energyusageservice/.idea
smart-energy-system/energyusageservice/build

smart-energy-system/powerinfrastructureservice/.gradle
smart-energy-system/powerinfrastructureservice/.idea
smart-energy-system/powerinfrastructureservice/build

smart-energy-system/gateway/.gradle
smart-energy-system/gateway/.idea
smart-energy-system/gateway/build

smart-energy-system/servicediscovery/.gradle
smart-energy-system/servicediscovery/.idea
smart-energy-system/servicediscovery/build

smart-energy-system/configservice/.gradle
smart-energy-system/configservice/.idea
smart-energy-system/configservice/build
